# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django
staticfiles/
media/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db