@media print
{
    .pagebreak {page-break-after: always}
    .table tr {page-break-inside: avoid}
    thead { display: table-row-group}
}

@page
{
    margin: 7mm;
}

*
{
    font-size: 13.5px
}

#sup
{
    font-size: 12px
}

.table, .table th, .table td
{
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
    border: 1px inset black;
}

#infos, #infos td
{
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
}

.border
{
    border-collapse: collapse;
    border: 1px solid black;
}

.table0, .table0 th
{
    table-layout: fixed;
    width:100%;
}

#col01, #col03
{
    width: 38%;
    font-weight: normal;
}

#col02
{
    width: 24%;
}

#head1 th:nth-child(1)
{
    width: 18%;
}
#head1 th:nth-child(2)
{
    width: 32%;
}

#head1 th:nth-child(3)
{
    width: 6%;
}

#head1 th:nth-child(4)
{
    width: 6%;
}

#head1 th:nth-child(5)
{
    width: 5%;
}

#head1 th:nth-child(7)
{
    width: 5%;
}

#head1 th:nth-child(6)
{
    width: 7%;
}

#head1 th:nth-child(8)
{
    width: 8%;
}

#head1 th:nth-child(9)
{
    width: 13%;
}

#col1
{
    width: 16%;
}

#col2
{
    width: 5%;
}

#col3
{
    width: 14%;
}

#col4
{
    width: 5%;
}

#col5
{
    width: 12%;
}

#col6
{
    width: 7%;
}

#col7
{
    width: 14%;
}

#col8
{
    width: 5%;
}

#col9
{
    width: 10%;
}

#col10
{
    width: 12%;
}

.aligntop, #topalign
{
    vertical-align: top
}

#logo, #photo
{
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.special
{
    font-style: italic;
}

.special, .gras
{
    font-weight: bold;
}


.center
{
    text-align: center;
}

#trimestre
{
    font-size: 16px
}

#col11
{
    width:15px;
}

#col22
{
    width: 35px;
}

#col33
{
    width: 20px;
}

#col44
{
    width: 10px;
}

#col55
{
    width: 20px;
}