{% extends "base.html" %}

{% block content %}
<div class="container w-md-75 mt-4">
{% if msg %}
    <div class="alert alert-info mt-3 py-3 fade show alert-dismissible w-md-75 cblock" role="alert">
        <button type="button" class="btn-close position absolute" data-bs-dismiss="alert" aria-label="Close"></button>
        <p class="bg-transparent mb-0 ctext">{{ msg }}</p>
    </div>
{% else %}
    <div class="alert alert-info py-1 mt-3" role="alert">
        <p class="ctext bg-transparent mb-0">{{ titre }}</p>
    </div>
    <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered align-middle text-center">
        <thead class="table-light">
        <tr>
            <th rowspan="2" class="border">Matière</th>
            <th colspan="4" class="border">Leçons théoriques</th>
            <th colspan="4" class="border">Leçons pratiques</th>
            <th colspan="4" class="border">Total</th>
        </tr>
        <tr>
            <th>Trim1</th>
            <th>Trim2</th>
            <th>Trim3</th>
            <th>Annuel</th>
            <th>Trim1</th>
            <th>Trim2</th>
            <th>Trim3</th>
            <th>Annuel</th>
            <th>Trim1</th>
            <th>Trim2</th>
            <th>Trim3</th>
            <th>Annuel</th>
        </tr>
        </thead>
        <tbody>
        {% for prog in progression %}
        <tr class="table-dark border-primary">
            <td>{{ prog.label }}</td>
            <td><span class="d-inline-block text-nowrap text-info">{{ prog.nlt1 }}</span><br><span class="text-warning">{{ prog.plt1 }}</span></td>
            <td><span class="d-inline-block text-nowrap text-info">{{ prog.nlt2 }}</span><br><span class="text-warning">{{ prog.plt2 }}</span></td>
            <td><span class="d-inline-block text-nowrap text-info">{{ prog.nlt3 }}</span><br><span class="text-warning">{{ prog.plt3 }}</span></td>
            <td><span class="d-inline-block text-nowrap text-info">{{ prog.nlt }}</span><br><span class="text-warning">{{ prog.plt }}</span></td>
            <td><span class="d-inline-block text-nowrap text-info">{{ prog.nlpr1 }}</span><br><span class="text-warning">{{ prog.plp1 }}</span></td>
            <td><span class="d-inline-block text-nowrap text-info">{{ prog.nlpr2 }}</span><br><span class="text-warning">{{ prog.plp2 }}</span></td>
            <td><span class="d-inline-block text-nowrap text-info">{{ prog.nlpr3 }}</span><br><span class="text-warning">{{ prog.plp3 }}</span></td>
            <td><span class="d-inline-block text-nowrap text-info">{{ prog.nlpr }}</span><br><span class="text-warning">{{ prog.plp }}</span></td>
            <td><span class="d-inline-block text-nowrap text-info">{{ prog.nl1 }}</span><br><span class="text-warning">{{ prog.pl1 }}</span></td>
            <td><span class="d-inline-block text-nowrap text-info">{{ prog.nl2 }}</span><br><span class="text-warning">{{ prog.pl2 }}</span></td>
            <td><span class="d-inline-block text-nowrap text-info">{{ prog.nl3 }}</span><br><span class="text-warning">{{ prog.pl3 }}</span></td>
            <td><span class="d-inline-block text-nowrap text-info">{{ prog.nl }}</span><br><span class="text-warning">{{ prog.pl }}</span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% if is_user %}
    <div class="d-flex justify-content-center">
        <a class="btn btn-warning" href="{% url 'progression-edit' %}">
            <i class="bi bi-pencil me-2 bg-transparent"></i>Mettre à jour</a>
    </div>
    {% endif %}
{% endif %}
</div>
{% endblock %}