<div class="row mx-auto px-0" id="reload">
    <div class="col-sm-6 mb-2">
        <span class="text-white">Administrateur : </span>
        <span class="{% if m_user.is_admin %} text-warning {% else %} text-secondary {% endif %} fw-bold">
            {% if m_user.is_admin %} Oui {% else %} Non {% endif %}</span>
    </div>
    <div class="col-sm-6 mb-2" id="active">
        <span class="text-white">Utilisateur actif : </span>
        <span class="{% if m_user.is_active %} text-warning {% else %} text-secondary {% endif %} fw-bold">
            {% if m_user.is_active %} Oui {% else %} Non {% endif %}</span>
    </div>
{% if user != m_user %}
    <div class="d-flex flex-column flex-sm-row gap-2 justify-content-center my-2">
     {% if m_user.is_admin %}
     <a class="btn btn-danger" title="Enlever Administrateur" hx-get="{% url 'admin' pk=m_user.pk %}" hx-target="#reload">
        <i class="bi bi-dash-circle me-2 bg-transparent"></i>Enlever Administrateur</a>
     {% else %}
     <a class="btn btn-success" title="Définir Administrateur" hx-get="{% url 'admin' pk=m_user.pk %}" hx-target="#reload">
        <i class="bi bi-shield-check me-2 bg-transparent"></i>Définir Administrateur</a>
    {% endif %}
    {% if not m_user.is_active %}
    <a class="btn btn-warning" title="Activer" hx-get="{% url 'active' pk=m_user.pk %}" hx-target="#reload">
        <i class="bi bi-toggle-on me-2 bg-transparent"></i>Activer</a>
    {% else %}
    <a class="btn btn-secondary" title="Désactiver" hx-get="{% url 'active' pk=m_user.pk %}" hx-target="#reload">
        <i class="bi bi-ban me-2 bg-transparent"></i>Désactiver</a>
    {% endif %}
    </div>
{% endif %}
</div>