{% extends "base.html" %}

{% block content %}
    <div class="container w-md-75 w-lg-50 p-3">
        <div class="row justify-content-center">
            <div class="col">
                <div class="card custom-shadow rounded-4">
                    <div class="card-body text-center p-3">
                    {% if object.user %}
                        {% if object.photo %}
                        <img src="{{ object.photo.url }}" alt="Photo de profil" class="profile-img mb-3"
                            data-bs-toggle="modal" data-bs-target="#photoModal">
                        {% else %}
                        <img src="{{ MEDIA_URL}}image/no_pp.png" alt="Photo de profil" class="profile-img mb-3">
                        {% endif %}
                        <h4 class="card-title text-white fw-bold">{{ object.user.username }}</h4>
                    {% else %}
                        <img src="{{ MEDIA_URL}}image/no_pp.png" alt="Photo de profil" class="profile-img mb-1">
                    {% endif %}
                    <hr class="border border-secondary border-2">
                    <div class="row text-start">
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Civilité : </span>
                            <span class="text-white fw-bold">{{ object.civilite }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Poste : </span>
                            <span class="text-white fw-bold">
                                {% if object.poste != "Autre" %}{{ object.post }}{% else %}Non défini{% endif %}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Nom(s) : </span>
                            <span class="text-white fw-bold">{{ object.nom }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Prénom(s) : </span>
                            <span class="text-white fw-bold">
                                {% if object.prenom %}{{ object.prenom }}{% else %}/{% endif %}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Grade : </span>
                            <span class="text-white fw-bold">
                                {% if object.grade != "Autre" %} {{ object.grade }} {% else %} / {% endif %}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Email : </span>
                            <span class="text-white fw-bold">{{ object.email }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Contact : </span>
                            <span class="text-white fw-bold">{{ object.contact }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Contact optionnel : </span>
                            <span class="text-white fw-bold">{% if object.contact1 %}{{ object.contact1 }}{% else %}/{% endif %}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Ancienneté : </span>
                            <span class="text-white fw-bold">{% if object.since %}{{ object.since }} an(s){% else %}/{% endif %}</span>
                        </div>
                    </div>
                    {% if dpc %}
                    <div class="alert alert-info py-1" role="alert">
                        <p class="ctext bg-transparent mb-0">Disciplines enseignées</p>
                    </div>
                    <table class="table table-striped">
                        <tr class="table-light">
                            <th>Discipline</th>
                            <th>Classes</th>
                        </tr>
                    {% for d in dpc %}
                        <tr class="table-dark">
                            <td>{{ d.matiere }}</td>
                            <td>
                                {% for classe in d.classes %}
                                <a href="{% url 'classroom-teachers' id=classe.id %}" class="text-primary bg-transparent">
                                    {{ classe.code }}</a>{% if not forloop.last %} * {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                    {% endif %}
                    <div class="d-flex flex-column flex-sm-row gap-2 justify-content-center">
                    <a class="btn btn-warning" title="Modifier" href="{% url 'staff-edit' id=object.id %}">
                        <i class="bi bi-pencil-square me-2 bg-transparent"></i>Modifier</a>
                    {% if object.user != user %}
                    <a class="btn btn-danger" title="Supprimer" href="{% url 'staff-delete' id=object.id %}">
                        <i class="bi bi-trash me-2 bg-transparent"></i>Supprimer</a>
                    {% endif %}
                    <a class="btn btn-secondary" href="{% url 'staff' %}">
                        <i class="bi bi-arrow-left me-2 bg-transparent"></i>Retour</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <button type="button" class="btn-close position-absolute end-0 m-3" data-bs-dismiss="modal"
                                aria-label="Fermer"></button>
                        <img src="{% if object.photo %} {{ object.photo.url }} {% endif %}" alt="Photo de profil"
                             class="img-fluid w-100 rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}