{% if error %}
<div class="alert alert-warning mt-3 fade show alert-dismissible w-md-75 cblock py-1" role="alert">
    <button type="button" class="btn-close position absolute" data-bs-dismiss="alert" aria-label="Close"></button>
    <p class="mb-1 bg-transparent ctext">{{ info }}{% if admin %}
    <br><a class="btn btn-warning ctext" href="{% url 'set_periods' %}"><i class="bi bi-gear bg-transparent me-2"></i>
        Éditer les périodes</a>
    {% endif %}</p>
</div>
{% else %}
    {% if level_marks_form.level_marks_form|length %}
        <form method="post" enctype="multipart/form-data" id="marks_form">
            {% csrf_token %}
            {% if trim %}
            <div class="alert alert-info mt-3 py-1" role="alert">
                <p class="ctext bg-transparent mb-0">Évaluations n° {{ evalx.0 }} et {{ evalx.1}} {{ matiere }} en {{ niveau }}</p>
            </div>
                {% if level_marks_form.level_marks_form.0.competences %}
                <div class="d-flex align-items-end gap-2 gap-md-3 mb-3 w-100" id="bloc_competences">
                    {% include 'competences.html' with evaluation=evl %}
                </div>
                {% endif %}
            {% else %}
            <div class="alert alert-info mt-3 py-1" role="alert">
                <p class="ctext bg-transparent mb-0">Évaluation n° {{ eval }} {{ matiere }} en {{ niveau }}</p>
            </div>
                {% if level_marks_form.level_marks_form.0.competences %}
                <div class="mt-3 mb-3 w-lg-75 cblock">
                    <label for="competences" class="text-white control-label"><i>Compétences évaluées</i></label>
                    {{ level_marks_form.level_marks_form.0.competences }}
                </div>
                {% endif %}
            {% endif %}
            <div class="table-responsive">
            <table class="table table-striped table-hover align-middle">
                <thead class="table-light">
                {% if trim %}
                <tr>
                    <th class="align-middle py-1" rowspan="2">#</th>
                    <th class="align-middle py-1 d-none d-md-table-cell" rowspan="2">Identifiant unique</th>
                    <th class="align-middle py-1" rowspan="2">Nom(s) et Prénoms(s)</th>
                    <th class="py-1" colspan="2">Note/20</th>
                </tr>
                <tr>
                    <th class="py-1">Eval{{ evalx.0 }}</th>
                    <th class="py-1">Eval{{ evalx.1 }}</th>
                </tr>
                {% else %}
                <tr>
                    <th class="py-1">#</th>
                    <th class="py-1 d-none d-md-table-cell">Identifiant unique</th>
                    <th class="py-1">Nom(s) et Prénoms(s)</th>
                    <th class="py-1">Note/20</th>
                </tr>
                {% endif %}
                </thead>
                <tbody>
                {% for level_marks_form in level_marks_form.level_marks_form %}
                <tr class="table-danger border-primary">
                    <td class="py-1 text-center fw-bold" colspan="{% if trim %} 5 {% else %} 4 {% endif %}">
                        {{ level_marks_form.classroom.code }} {% if level_marks_form.lv2 %} : {{ level_marks_form.classroom.lv2 }}
                        {% elif level_marks_form.lv3 %} : {{ level_marks_form.classroom.lv3 }} {% endif %}</td>
                </tr>
                    {% for mark_form in level_marks_form.marks_form %}
                    <tr class="table-dark border-primary">
                        <td class="py-1">{{ forloop.counter }}</td>
                        <td class="py-1 d-none d-md-table-cell">{{ mark_form.unique_id }}</td>
                        <td class="py-1">{{ mark_form.label }}</td>
                        <td class="py-1">{{ mark_form.note }}</td>
                        {% if mark_form.note1 %}
                        <td class="py-1">{{ mark_form.note1 }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="d-flex justify-content-center">
            {% if trim %}
            <button class="btn btn-success" type="submit" hx-post="{% url 'tlevel-marks-edit' %}" hx-include="select"
                    hx-target="#marks_form" data-with-spinner><i class="bi bi-save bg-transparent me-2"></i>Sauvegarder</button>
            {% else %}
            <button class="btn btn-success" type="submit" hx-post="{% url 'level-marks-edit' %}" hx-include="select"
                    hx-target="#marks_form" data-with-spinner><i class="bi bi-save bg-transparent me-2"></i>Sauvegarder</button>
            {% endif %}
            </div>
        </form>
    {% else %}
    <div class="alert alert-info mt-3 py-2" role="alert">
        <p class="ctext mb-0 bg-transparent">Aucun élève pour ce niveau.</p>
    </div>
    {% endif %}
{% endif %}