<div class="col-sm-4">
  <label class="text-white control-label" style="font-size:0.82rem;margin-bottom:4px;display:block;">Évaluation</label>
  {{ form.evalx }}
</div>
<div class="col-sm-4">
  <label class="text-white control-label" style="font-size:0.82rem;margin-bottom:4px;display:block;">À partir du</label>
  {{ form.start }}
</div>
<div class="col-sm-4">
  <label class="text-white control-label" style="font-size:0.82rem;margin-bottom:4px;display:block;">Jusqu'au</label>
  {{ form.end }}
</div>
