{% extends "base.html" %}

{% block content %}
<div class="container w-md-75">
    <div class="alert alert-info mt-3 cblock py-2  w-lg-75" role="alert">
    <p class="ctext bg-transparent mb-0">Une fois la recherche terminée, vous n'avez qu'à cliquer sur le résultat qui vous intéresse et retrouver le formulaire de remplissage en dessous des résultats.</p>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex flex-column flex-sm-row gap-2 justify-content-center mb-3">
            <div>
                <label for="trim" class="text-white">Trimestre</label>
                {{ form.trimestre }}
            </div>
            <div class="d-flex align-items-end gap-2">
                <div>
                    <label for="search" class="text-white">Recherche</label>
                    {{ form.search }}
                </div>
                <button class="w-auto btn btn-info" type="submit"><i class="bi bi-search me-2 bg-transparent"></i>
                    <span class="d-none d-md-inline bg-transparent">Rechercher</span></button>
            </div>
        </div>
        <p class="ctext text-white">{{ info }}</p>
    </form>
    <div class="d-flex justify-content-center mb-3">
        <div>
        {% for student in students %}
            <a class="text-info" href="" hx-get="{% url 'discipline-edit' id=student.id trim=trim %}" hx-target="#edit">
                <i class='bi bi-mortarboard text-white me-2'></i>{{ student.nom }}</a><br>
        {% endfor %}
        </div>
    </div>
    <div id="edit"></div>
</div>
{% endblock %}
