{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container w-md-75 w-lg-50 p-3" id="info_card">
        <div class="row justify-content-center">
            <div class="col">
                <div class="card custom-shadow rounded-4">
                    <div class="card-body text-center p-3">
                    <img src="{% static 'image/parent.png' %}" alt="Photo de profil" class="profile-img mb-3">
                    <hr class="border border-secondary border-2">
                    <div class="row text-start">
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Civilité : </span>
                            <span class="text-white fw-bold">{{ object.civilite }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Nom(s) : </span>
                            <span class="text-white fw-bold">{{ object.nom }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Prénom(s) : </span>
                            <span class="text-white fw-bold">{% if object.prenom %}{{ object.prenom }}{% else %}/{% endif %}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Contact : </span>
                            <span class="text-white fw-bold">{{ object.contact }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Email : </span>
                            <span class="text-white fw-bold">{{ object.courriel }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Profession : </span>
                            <span class="text-white fw-bold">{{ object.boulot }}</span>
                        </div>
                {% if enfants %}
                <div class="container mt-2">
                <h4 class="text-warning fw-bold ctext">Enfants</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-hover text-nowrap align-middle border">
                        <tr class="table-light">
                            <th>Enfant</th>
                            <th>Classe</th>
                        </tr>
                    {% for enfant in enfants %}
                        <tr class="table-dark border-primary">
                            <td>{{ enfant }}</td>
                            <td>{{ enfant.classroom }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                </div>
                {% endif %}
                    <div class="d-flex flex-column flex-sm-row gap-2 justify-content-center">
                    <a class="btn btn-warning" title="Modifier" href="{% url 'parent-edit' id=object.id %}">
                        <i class="bi bi-pencil-square me-2 bg-transparent"></i>Modifier</a>
                    {% if user != m_user %}
                    <a class="btn btn-danger" title="Supprimer" href="{% url 'parent-delete' id=object.id %}">
                        <i class="bi bi-trash me-2 bg-transparent"></i>Supprimer</a>
                    {% endif %}
                    <a class="btn btn-secondary" href="{% url 'parents' %}">
                        <i class="bi bi-arrow-left me-2 bg-transparent"></i>Retour</a>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
