{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container w-md-75 w-lg-50 p-3">
        <div class="row justify-content-center">
            <div class="col">
                <div class="card custom-shadow rounded-4">
                    <div class="card-body text-center p-3">
                    {% if object.photo %}
                    <img src="{{ object.photo.url }}" alt="Photo de profil" class="profile-img mb-3"
                        data-bs-toggle="modal" data-bs-target="#photoModal">
                    {% else %}
                    <img src="{% static 'image/student.jpg' %}" alt="Photo de profil" class="profile-img mb-3">
                    {% endif %}
                    <hr class="border border-secondary border-2">
                    <div class="row text-start">
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Identifiant unique : </span>
                            <span class="text-white fw-bold">{{ object.unique_id }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Nom(s) : </span>
                            <span class="text-white fw-bold">{{ object.nom }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Prénom(s) : </span>
                            <span class="text-white fw-bold">{{ object.prenom }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Sexe : </span>
                            <span class="text-white fw-bold">{{ object.sexe }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Classe : </span>
                            <span class="text-white fw-bold"> {% if object.classe %}
                                <a href="{% url 'classroom-students' id=object.classe.pk %}">
                                {{ object.classe.code }}</a> {% else %} / {% endif %} </span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Statut : </span>
                            <span class="text-white fw-bold">{{ object.statut }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Date de naissance : </span>
                            <span class="text-white fw-bold">{{ object.date_naissance }}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Lieu de naissance : </span>
                            <span class="text-white fw-bold">{{ object.lieu_naissance }}</span>
                        </div>
                        {% if object.pere %}
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Contact père : </span>
                            <span class="text-white fw-bold">{{ object.pere.contact }}</span>
                        </div>
                        {% endif %}
                        {% if object.mere %}
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Contact mère : </span>
                            <span class="text-white fw-bold">{{ object.mere.contact }}</span>
                        </div>
                        {% endif %}
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Père : </span>
                            <span class="text-white fw-bold"> {% if object.pere %}
                                <a href="{% url 'parent-details' id=object.pere.pk %}" class="link-info">{{ object.father }}</a>
                                {% else %} / {% endif %}</span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="text-white">Mère : </span>
                            <span class="text-white fw-bold"> {% if object.mere %}
                                <a href="{% url 'parent-details' id=object.mere.pk %}" class="link-info">{{ object.mother }}</a>
                                {% else %} / {% endif %}</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-sm-row gap-2 justify-content-center">
                    <a class="btn btn-warning" title="Modifier" href="{% url 'student-edit' id=object.id %}">
                        <i class="bi bi-pencil-square me-2 bg-transparent"></i>Modifier</a>
                    {% if object.user != user %}
                    <a class="btn btn-danger" title="Supprimer" href="{% url 'student-delete' id=object.id %}">
                        <i class="bi bi-trash me-2 bg-transparent"></i>Supprimer</a>
                    {% endif %}
                    <a class="btn btn-secondary" href="{% url 'students' %}">
                        <i class="bi bi-arrow-left me-2 bg-transparent"></i>Retour</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <button type="button" class="btn-close position-absolute end-0 m-3" data-bs-dismiss="modal"
                                aria-label="Fermer"></button>
                        <img src="{% if object.photo %} {{ object.photo.url }} {% endif %}" alt="Photo de profil"
                             class="img-fluid w-100 rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
